GOOGLE_API_KEY="REQUIRED"
HF_API = "required"

EMAIL_ADDRESS = "" #For sending emails
APP_PASSWORD = ""

MCP_SERVER_URL="http://localhost:8000/mcp"
DB_URL="postgresql://myuser:mypassword@postgres:5432/school"


